<div class="booking-header">
        <h1>You have Successfully Complete step1 <br>
	        Click on NEXT to Continue</h1>
    <h1><span><%= link_to "Next", student6_login_path %></span></h1> 

	</div>
</div>