<center>
<h1>
	<font color="red">You have Successfully Completed step2 </font><br><br>
	                 <b> Click on <%= link_to "Next", student2_login_path %> to Continue
</h1>
</center>
	<h1><span><%= link_to "Next", student2_login_path %></span></h1> 

	</div>
