<div class="main-container booking-section">
    <div class="booking-header">
        <h1>Book car cleaning</h1>
    <h1><span><%= link_to "Pay Now", welcome_booking_path %></span></h1> 

	</div>
</div>
<div class="box">
<h1>hello</h1>

</div>