<div class="jumbotron7">
<center>
	<h1><B><FONT COLOR="blue">Professional Home Cleaning Service</FONT></h1>

		<h2><B><FONT COLOR="Red">Home Cleaning At Your Door</FONT></h2>	
		<h3><B><FONT COLOR="Lawngreen">Price Start At Rs1500</FONT></h3>
</center>
		
</div>
<center>
<div class="btn btn-warning">
	<b><%= link_to "Book Now", student5_login_path %></b>			
</div>
</center> 
				
<div class="container visible-md visible-lg visible-sm form-component">
	<div class="row">
		<div class="col-xs-1 remove-pt">
			<div class="trapezoid-left visible-md visible-lg visible-sm"></div>
		</div>
		<div class="col-xs-10 remove-pt">
			<div class="interested-box">
				<h3 class="center"><strong>INTERESTED?</strong></h3>
				<p class="center">Enter your phone number and we will call you within 24 hours</p>
				<div class="col-xs-1">&nbsp;</div>
				<div class="col-xs-5">
					<div class="input-group">
						<span class="input-group-btn">
							<%= button_tag("+91",:style =>"width:150px;color:black;",:class => "btn btn-default") %>	
						</span>
						<input type="tel" pattern="\d*" class="form-control" placeholder="This is my Phone no.">
					</div>
				</div>
				<div class="col-xs-5">
					
					<%= submit_tag("Send Phone no",:style =>"width:150px;color:black;",:class => "btn btn-default") %>			

				</div>
				<br /><br />
				<p class="center">We won't share your number or spam you.</p>
			</div>
		</div>
<div class="col-xs-1 remove-pt">
	<div class="trapezoid-right visible-md visible-lg visible-sm"></div>
</div>
	</div>
</div>

		
<br><br><br>
<center>
<%= image_tag("home_cleaning.jpeg")%>		
</center>
