<div class="wrapper">
<center>
	<h2><font color="RED">CLEANER Authentication</font></h2>
</center>
</div>

<marquee behavior="scroll" direction="left"><h4><font color="green">We wont Share or Spam You </font></h4>
</marquee>

<div class="col-sm-8">
<div class="column1">

<div class="jumbotron3">

	
<h1>Sign up</h1>
<%= form_for@user, url: "home" do |f| %>      
<%= f.label :email %>      
<%= f.text_field :email %>      
<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
	
	
</div>
	</div>
</div>