

		
<div class="column1">
<div class="jumbotron3">
<%= form_tag("s") do %>
<%= label_tag(:g,"Enter Your District :")%>
<%= text_field_tag :login, '', :class => "form-control" %>
<% end %>	
	
<center>
<%= submit_tag("Submit") %>	
</center>

</div>
</div>


